language: r
sudo: false
cache: packages

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - libfreetype6

env:
  global:
    - RunGgplot2Tests=yes

before_script:
  - Rscript -e "install.pacakges('vdiffr', repos = 'https://mran.microsoft.com/snapshot/2017-06-01')"