body {
	background: url("background.jpg") repeat;
}

#title-row {
  background: #2D67A0;
  box-shadow: 0px 0px 10px 3px #BBBBCC;
  -moz-box-shadow: 0px 0px 10px 3px #BBBBCC;
	-webkit-box-shadow: 0px 0px 10px 3px #BBBBCC;
  border-bottom: 1px solid #AAAAAA;
  text-align: center;
  color: #FDFDFD;
  font-weight: bold;
  padding-bottom: 10px;
}

#title-row a {
  color: #FDFDFD;
  text-decoration: underline;
}

#loading-content {
  position: absolute;
  background: #000000;
  opacity: 0.9;
  z-index: 100;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  color: #FFFFFF;
}

#app-content {
  margin-top: 25px;
}

.settings {
  background: #FEFEFE;
  padding-top: 0;
}

.settings .settings-title {
  text-align: center;
}

#plot img {
  outline: 1px solid #999999;
}

#code {
  margin-top: 15px;
  background: #FEFEFE;
  padding: 10px;
  border: 1px solid #999;
}